# OS & IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# Python
__pycache__/
*.pyc

# Temp previews
preview*.png
!preview_joker.png

# 3D Binaries & Backups
*.binz
*.rar
*original.glb

